<div
  class="container"
  (click)="onCatchButtonClick()"
  [ngStyle]="{
    background: getColor(type),
    opacity: opacity(),
    cursor: cursor()
  }"
>
  <div class="grass"><img src="{{ image }}" alt="{{ name }}" /></div>

  <h4 class="name">{{ name }}</h4>
  <ul>
    <li *ngFor="let stat of stats" class="stats">
      {{ stat.stat.name }}: {{ stat.base_stat }}
    </li>
  </ul>
  <div class="btn-div">
    <button *ngIf="disabled" (click)="onDeleteButtonClick()" class="button">
      Release
    </button>
  </div>

  <img
    *ngIf="caught"
    class="pokeball"
    src="assets/Poke_Ball_icon.svg"
    alt="pokeball"
  />
</div>
