.container {
  background: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  padding: 2rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  margin: 0 1rem 0 0;
  border-radius: 0.3rem;
  border: 1px solid black;
  cursor: pointer;
  font-family: "pokemon-font", monospace;
}

.buttons button:hover {
  opacity: 80%;
}

.next {
  background: #a0ced9;
}

.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 0 20rem;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0;
  }
}
